body {
  font-family: "Poppins";
}

.highlight {
    color: #007bff;
    font-weight: bold;
}

.hover-effect:hover {
    color: rgb(255, 160, 10) !important;
 }

.active{
  color: rgb(255, 160, 10) !important;
}

.custom-hover-effect:hover .flex {
    border-color: #b0b0b0;
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.service-box {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}

.service-box .circle {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(255, 160, 10);
    border-radius: 60%;
    pointer-events: none;
    opacity: 0.7;
    filter: blur(50px);
    transition: all 0.2s ease-out;
    display: none;

}
.span-color {
    color: rgb(255, 160, 10);
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

.animate-zoomOut {
    animation: zoomOut 1s ease-in-out;
}


.animate-zoomIn {
    animation: zoomIn 1s ease-in-out;
}


.animate-slideInDown {
    animation: slideInDown 1s ease-in-out;
}


.animate-slideInUp {
    animation: slideInUp 1s ease-in-out;
}

.animate-slideInLeft {
    animation: slideInLeft 1s ease-in-out;
}

.animate-slideInRight {
    animation: slideInRight 1s ease-in-out;
}


.animate-slideInLeft {
    animation: slideInLeft 1s ease-in-out;
}

@keyframes scroll {
0% {
transform: translateX(0);
}
100% {
transform: translateX(-50%);
}
}
.scroll-wrapper {
display: flex;
width: 200%;
}
@keyframes slideIn {
0% {
    transform: translateY(100%);
    opacity: 0;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}

@keyframes slideOut {
0% {
    transform: translateY(0);
    opacity: 1;
}
100% {
    transform: translateY(100%);
    opacity: 0;
}
}
.dropdown-show {
animation: slideIn 0.3s ease-in-out forwards;
}

.dropdown-hide {
animation: slideOut 0.3s ease-in-out forwards;
}
#menu-toggle:checked ~ #dropdown {
    transform: translateY(0);
    opacity: 1;
}

#menu-toggle:checked ~ #dropdown ~ #main-content {
    margin-top: 200px;
}
