body {
  font-family: "Poppins", serif;
}

.highlight {
    color: #007bff;
    font-weight: bold;
}

.text-ct1{
    color: #007bff !important;
}

.text-ct2{
    color: #ff8c00 !important;
}

.carousel-caption h1,
.carousel-caption h2,
.carousel-caption p {
  animation: fadeIn 1s ease-in-out;
}

.hover-effect:hover {
    color: rgb(255, 160, 10) !important;
 }

.active{
  color: rgb(255, 160, 10) !important;
}

.custom-hover-effect:hover .flex {
    border-color: #b0b0b0;
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.service-box {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}

.service-box .circle {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(255, 180, 10);
    border-radius: 60%;
    pointer-events: none;
    opacity: 0.7;
    filter: blur(50px);
    transition: all 0.2s ease-out;
    display: none;

}
.span-color {
    color: rgb(255, 180, 10);
}

.footer {
  text-align:center;
 }
.footer .bg-sec h2 {
  color:#FFFFFF;
  font-size:25px;
  font-weight:normal;
 }
.list-inline-item a:hover i {
   color: #007bff;
   transition: color 0.3s ease;
}
#contact span {
   color: rgb(255, 180, 10);
}
